.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
    padding: 2px 16px;
    
       
}
.card{
    box-shadow: 0px 4px 4px 0px rgba(12, 16, 0, 0.3);
  transition: 0.2s;
  height: 80vh;
  margin-top: 40px;
  border-radius: 6%;
  border-color: darkkhaki;
  background-color:gainsboro;

}
.card:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  }
h4 {
    color: rgba(54, 50, 0, 0.788);
    font-size: 35px;
    font-family: cursive;
    margin: 25px;
}
.output{
        font-size: 25px;
        color: rgba(7, 11, 116, 0.881);
        padding: 20px;
    }

    .counter-button {
        font-size: 20px;
        padding: 10px 20px;
        color: rgba(16,0,54);
        border: 2px solid rgba(54, 48, 0, 0.82);
        background-color: transparent;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }
    .counter-button:hover {
        background-color: rgba(54, 42, 0, 0.269);
        color: rgba(255, 255, 255, 0.874);
        border: 1px solid rgb(0, 46, 54);
    }
        .reset {
            width: 100px;
            font-size: 18px;
            padding: 10px 20px;
            background-color: transparent;
            color: rgba(54, 37, 0, 0.893);
            border: 1px solid rgba(54, 42, 0, 0.845);
            cursor: pointer;
            transition: 0.2s ease-in-out;
            margin-top:20px;
            margin-bottom: 20px;
        }
         
        .reset:hover {
            background-color: rgba(54, 38, 0, 0.731);
            color: rgb(255, 255, 255);
            border: 1px solid rgb(16, 0, 54);
        }

